@use '@/styles/globals.scss' as *;

.container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    padding: 100px clamp(20px, 5vw, 50px);
}

.adminHeader {
    margin-bottom: 20px;
    text-align: center;
    h1 {
        margin: 0;
    }
}

.subtitle {
    margin: 10px 0 0 0;
    color: $text-sub2;
    font-size: 12px;
    font-weight: 600;
}

.infoMessage {
    text-align: center;
    margin: 0;
    height: calc(100dvh - 270px);
    line-height: calc(100dvh - 270px);
}

.selectContainer {
    margin: 40px 0;
    display: flex;
    gap: 20px;
}

.select {
    position: relative;
    width: 100px;
}

.trigger {
    width: 100%;
    padding: 10px 15px;
    border-radius: var(--radius);
    background-color: $background-color;
    color: $blue-color;
    font-weight: 900;
    font-size: 14px;
    border: 1px solid $blue-color !important;
    box-shadow: var(--shadow-lg);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .3s;
    &:hover {
        opacity: 0.7;
    }
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $blue-color;
    transition: all .3s;
    &.active {
        transform: rotate(-180deg);
    }
}

.dropdown {
    position: absolute;
    top: calc(100% - 14px);
    left: 0;
    width: 100%;
    background: $background-color;
    border-radius: var(--radius);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 0;
    overflow: hidden;
    z-index: 3;

    li {
        padding: 10px 15px;
        font-size: 13px;
        cursor: pointer;
        transition: all .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.active {
    font-weight: 800;
    color: $blue-color;
}

.searchInput {
    width: 100%;
    font-size: 16px;
}

.alertOverlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.3);
    .select {
        min-width: 245px;
        width: 100%;
    }
    .trigger {
        color: $text;
        border: 1px solid $text-sub2 !important;
        box-shadow: none;
        font-weight: normal;
    }
    .dropdown {
        z-index: 1000;
    }
    .arrow {
        border-top: 6px solid $text-sub2;
    }
    .active {
        color: $text;
    }
}

.alert {
    min-width: 230px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-lg);
    background-color: $background-color;
    padding: 20px;
    border-radius: var(--radius);
    .alertHeader {
        margin-bottom: 30px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 2px solid #ebf0ff;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 10px;
    }
    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin: 0;
    }
    .buttonContainer {
        justify-content: space-between;
        margin-top: 30px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    justify-self: center;
    width: 100%;
    max-width: 1000px;
    button {
        width: fit-content;
        font-size: 12px;
        font-weight: 800;
        color: $text-sub;
        padding: 10px 20px;
        border-radius: var(--radius);
        background-color: $sub-color;
        transition: all .3s;
        &.groupJoinButton {
            margin-left: 20px;
        }
        &.approveButton {
            color: $background-color;
            background-color: $main-color;
        }
        &.codeCopyButton {
            margin-left: 20px;
            color: $background-color;
            background-color: $main-color;
        }
        &:disabled {
            background-color: $text-sub2;
        }
    }
}

.inputText {
    min-width: 252px;
    margin-bottom: 20px;
    label, .label {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        color: $blue-color;
        text-align: left;
    }
    input {
        width: 100%;
        font-size: 16px;
        &:read-only {
            background-color: $border-color;
        }
    }
}

.colorPicker {
    position: relative;
    min-width: 252xpx;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border-radius: var(--radius);
    border: 1px solid $text-sub2;
    button {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: var(--radius);
    }
}

.array {
    width: 100%;
    max-width: 252px;
    height: auto;
    max-height: 122px;
    border-radius: var(--radius);
    background-color: $background-color;
    border: 1px solid $text-sub2;
}

.arrayContainer {
    margin: 0;
    padding: 0;
    li {
        padding: 10px 15px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        transition: all .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.errorMessage {
    margin-top: 10px;
    font-size: 12px;
    color: $red-color;
}