@use '@/styles/globals.scss' as *;

.container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    padding: 100px clamp(20px, 5vw, 50px);
}

.adminHeader {
    margin-bottom: 20px;
    text-align: center;
    h1 {
        margin: 0;
    }
}

.subtitle {
    margin: 10px 0 0 0;
    color: $text-sub2;
    font-size: 12px;
    font-weight: 600;
}

.selectContainer {
    margin: 40px 0;
    display: flex;
    gap: 20px;
}

.select {
    position: relative;
    width: 100px;
}

.trigger {
    width: 100%;
    padding: 10px 15px;
    border-radius: var(--radius);
    background-color: $background-color;
    color: $blue-color;
    font-weight: 900;
    font-size: 14px;
    border: 1px solid $blue-color !important;
    box-shadow: var(--shadow-lg);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .3s;
    &:hover {
        opacity: 0.7;
    }
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $blue-color;
}

.dropdown {
    position: absolute;
    top: calc(100% - 14px);
    left: 0;
    width: 100%;
    background: $background-color;
    border-radius: var(--radius);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 0;
    overflow: hidden;
    z-index: 3;

    li {
        padding: 10px 15px;
        font-size: 13px;
        cursor: pointer;
        transition: all .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.active {
    font-weight: 800;
    color: $blue-color;
}

.searchInput {
    width: 100%;
    font-size: 16px;
}

.popup {
    position: relative;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.3s ease;
}

.popupContent {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 150px;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    background-color: $background-color;
    padding: 20px;
    border-radius: var(--radius);
    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .closeButton {
        display: block;
        margin: 30px auto 0 auto;
        width: fit-content;
        font-size: 12px;
        font-weight: 800;
        color: $text-sub;
        text-decoration: none;
        padding: 10px 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: $sub-color;
        border-radius: var(--radius);
    }
}