@use '@/styles/globals.scss' as *;

.container {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 1100px;
        padding: 100px clamp(20px, 5vw, 50px);
}

.stydySyncHeader {
    margin-bottom: 20px;
    text-align: center;
    h1 {
        margin: 0;
    }
}

.subtitle {
    margin: 10px 0 0 0;
    color: $text-sub2;
    font-size: 12px;
    font-weight: 600;
}

.popup {
    position: relative;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.3s ease;
}

.popupContent {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 150px;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    background-color: $background-color;
    padding: 20px;
    border-radius: var(--radius);
    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .closeButton {
        display: block;
        margin: 30px auto 0 auto;
        width: fit-content;
        font-size: 12px;
        font-weight: 800;
        color: $text-sub;
        text-decoration: none;
        padding: 10px 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: $sub-color;
        border-radius: var(--radius);
    }
}