@use '@/styles/globals.scss' as *;

.notFound {
    height: 100dvh;
    position: relative;
    padding: 50px clamp(20px, 5vw, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
    }
    .goToHome {
        .homeButton {
            display: block;
            margin-top: 20px;
            padding: 11.5px 30px;
            background-color: $main-color;
            border-radius: var(--radius);
            color: $background-color !important;
        }
    }
}