@use '@/styles/globals.scss' as *;

.container {
    width: 100%;
    max-width: 1100px;
    margin-top: 40px;
    h3 {
        font-size: 15px;
        margin: 0;
        margin: 30px 0;
        text-align: center;
    }
}

.dashboardHeader {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 15px;
        margin: 0;
        line-height: 40px;
    }
}

.periodSelector {
    display: flex;
    gap: 10px;
    .periodButton {
        height: 40px;
        padding: 5px 10px;
        border-radius: var(--radius);
        transition: all .3s;
        &.active {
            color: $background-color;
            background-color: $blue-color;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

.dashboard {
    height: auto;
    background-color: #ebf0ff;
    border-radius: var(--radius);
    padding: 20px;
    overflow-x: auto;
}

.statsCards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    min-width: 300px;
    .card {
        padding: 10px;
        border-radius: var(--radius);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: $background-color;
        min-width: 80px;
        width: 100%;
        p {
            margin-top: 0;
            color: $text-sub;
        }
        strong {
            font-size: 20px;
        }
    }
}

.groupsMembersChart, .eventsTrendChart {
    width: 100%;
    min-width: 300px;
    height: 350px;
    overflow: hidden;
    .recharts-bar-rectangle {
        transition: all .3s;
    }
    .recharts-active-bar {
        transform: scaleY(1.03);
        transform-origin: bottom;
        transition: all .3s;
    }
    .recharts-layer.recharts-cartesian-axis-tick {
        display: none;
    }
}