@use '@/styles/globals.scss' as *;

.container {
    width: 100%;
    max-width: 1100px;
    margin-bottom: 40px;
    background-color: #ebf0ff;
    border-radius: var(--radius);
    padding: 20px 20px 0 20px;
    > p {
        text-align: center;
    }
}

.dataTableHeader {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 15px;
        margin: 0;
        line-height: 40px;
    }
    p {
        font-size: 12px;
        margin: 0;
        line-height: 40px;
        color: $text-sub2;
        font-weight: 700;
    }
}

.tableWrapper {
    padding-bottom: 20px;
    overflow-x: auto;
}

.dataTable {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    text-align: center;
    thead {
        tr {
            border-bottom: 2px solid #00178e33;
            th {
                height: 40px;
                line-height: 40px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }
    }
    tbody {
        tr {
            cursor: pointer;
            border-bottom: 1px solid $background-color;
            transition: all .3s;
            td {
                height: 30px;
                line-height: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
            }
            &:hover {
                background-color: $background-color;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    .prevButton, .nextButton {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: transparent;
        &::before {
            content: '\2227';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            font-size: 20px;
            line-height: 30px;
            color: $text;
        }
        &.prevButton {
            margin-right: 20px;
            &::before {
                transform: rotate(-90deg);
            }
        }
        &.nextButton {
            margin-left: 20px;
            &::before {
                transform: rotate(90deg);
            }
        }
        &:disabled::before  {
            color: $text-sub2;
        }
    }
    .pageButton {
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
        background-color: transparent;
        &.active {
            color: $background-color;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            background-color: $blue-color;
            border-radius: var(--radius);
        }
    }
}