@use '@/styles/globals.scss' as *;

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $background-color;
    padding: 10px clamp(20px, calc(5vw + 10px), 50px);
    border-top: 2px solid #00178e33;
}

.copyright {
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: $blue-color;
    text-align: center;
    font-weight: 900;
    background-color: $background-color;
}

.moveToTop {
    position: relative;
    position: fixed;
    z-index: 3;
    width: 30px;
    height: 30px;
    bottom: 30px;
    right: 30px;
    background-color: $main-color;
    border-radius: var(--radius);
    opacity: 0.85;
    animation: visibleMode .5s ease-out forwards;
    &::before {
        content: '\2227';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        font-size: 15px;
        line-height: 30px;
        transform: translate(-50%, -50%);
        color: $background-color;
        animation: moveUp 2s ease-out infinite;
    }
    &.hide {
        animation: hideMode .5s ease-out forwards;
    }
}

@keyframes visibleMode {
    0% {
        display: none;
        bottom: -50px;
        opacity: 0;
    }
    10% {
        display: initial;
        opacity: 0.5;
    }
    100% {
        bottom: 30px;
    }
}

@keyframes hideMode {
    0% {
        bottom: 30px;
    }
    90% {
        display: initial;
        opacity: 0.5;
    }
    100% {
        display: none;
        bottom: -50px;
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        top: 70%;
        opacity: 0.3;
    }
    50% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: 30%;
        opacity: 0.3;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    background-color: $background-color;
    padding: 20px;
    border-radius: var(--radius);
    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    img {
        border-radius: var(--radius);
    }
}