@use '@/styles/globals.scss' as *;

.header {
    position: relative;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $background-color;
    box-shadow: var(--shadow-md);
}

.container {
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    padding: 0 clamp(20px, calc(5vw + 10px), 50px);
}

.logo {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent;
}

.loginButon {
    width: fit-content;
    margin: 7.5px 0;
    font-size: 12px;
    font-weight: 800;
    color: $background-color;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: $main-color;
    border-radius: var(--radius);
}